
        <%= link_to 'Chatroom', root_path, class:"item" %>
        <a class="item">
          Messages
        </a>
        <div class="right menu">
          <div class="ui dropdown item">
            Account <i class="dropdown icon"></i>
            <div class="menu">
              <% if logged_in?%>
                <%= link_to 'Sign Out', logout_path, class:"item", method: :delete %>
              <% else %>
                <%= link_to 'Sign In', login_path, class:"item" %>
                <a class="item">Sign Up</a>
                <% end %>             
            </div>
          </div>
          <div class="item">
            <% if !logged_in? %>
              <%= link_to 'Sign In', login_path, class:"ui primary button" %>
            <% end %>
            
          </div>
        </div>